<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>

    {{> sprite }}

    <div class="page">

        {{> header }}

        <div class="content">

            {{> body }}

        </div>

        {{> footer }}

    </div>

    {{> popup }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/app.min.js"></script>

</body>
</html>
