<footer class="footer">
	<div class="container">
		<div class="footer__inner">

			<div class="footer__social">
				<div class="footer__social-icons">
					<a class="footer__social-box" href="#!">
						<svg class="footer__social-icon first">
							<use xlink:href="#twitter"></use>
						</svg>
					</a>

					<a class="footer__social-box" href="#!">
						<svg class="footer__social-icon second">
							<use xlink:href="#instagram"></use>
						</svg>
					</a>

					<a class="footer__social-box" href="#!">
						<svg class="footer__social-icon third">
							<use xlink:href="#linkedin"></use>
						</svg>
					</a>

					<a class="footer__social-box" href="#!">
						<svg class="footer__social-icon fourth">
							<use xlink:href="#facebook"></use>
						</svg>
					</a>

					<a class="footer__social-box" href="#!">
						<svg class="footer__social-icon fifth">
							<use xlink:href="#youtube"></use>
						</svg>
					</a>

					<a class="footer__social-box" href="#!">
						<svg class="footer__social-icon sixth">
							<use xlink:href="#google+"></use>
						</svg>
					</a>
				</div>

				<div class="footer__text--social">
					<p>Nulla iaculis enim a magna tempor congue. Sed aliquam dignissim hendrerit. Duis erat nulla, pellentesque at enim in, scelerisque placerat nunc. Nulla vestibulum ex sed neque auctor rutrum. Donec fringilla tincidunt aliquet. Nullam rhoncus urna massa, vulputate congue velit pulvinar suscipit. Mauris laoreet blandit pharetra. Suspendisse rutrum dolor at augue convallis, eget dapibus nunc consequat. Sed diam nulla, elementum non laoreet eu,vulputate urna, at pellentesque risus orci in ante.</p>
				</div>

				<div class="footer__social-name">AWAX © 2016</div>
			</div>

			<div class="footer__text">
				<p>Nulla iaculis enim a magna tempor congue. Sed aliquam dignissim hendrerit. Duis erat nulla, pellentesque at enim in, scelerisque placerat nunc. Nulla vestibulum ex sed neque auctor rutrum. Donec fringilla tincidunt aliquet. Nullam rhoncus urna massa, vulputate congue velit pulvinar suscipit. Mauris laoreet blandit pharetra. Suspendisse rutrum dolor at augue convallis, eget dapibus nunc consequat. Sed diam nulla, elementum non laoreet eu,vulputate urna, at pellentesque risus orci in ante.</p>
			</div>

			<div class="footer__subscribe">
				<input class="input footer__subscribe-email" type="email" placeholder="EMAIL TO SUBSCRIBE">

				<button class="btn footer__subscribe-btn">subscribe</button>
			</div>

		</div>
	</div>

	<a class="footer__btn" href="#!" data-scroll="#intro">
		<img src="assets/img/footer/arrow-up.png" alt="">
	</a>
</footer>