<header class="header" id="header">
	<div class="container">
		<div class="header__inner">

			<a class="logo" href="#!" data-scroll="#intro">
				<img src="assets/img/header/logo.png" alt="">
			</a>

			<ul class="menu" id="menu">
				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#intro">Home</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#about">About us</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#services">Services</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#projects">Our project</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#team">Our team</a>
				</li>
				
				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#clients">Happy clients</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#price">Price</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#facts">Some facts</a>
				</li>

				<li class="menu__item">
					<a class="menu__link" href="#!" data-scroll="#contact">Contact us</a>
				</li>
			</ul>

			<a class="header__box">
				<a class="header__btn" href="#!" data-popup="#popup">
					<img src="assets/img/intro/telephone.png" alt="">
				</a>

				<div class="burger" id="burger">
					<span class="burger__lane first"></span>
					<span class="burger__lane second"></span>
					<span class="burger__lane third"></span>
				</div>
			</a>

		</div>
	</div>
</header>