<div class="popup" id='popup'>
   <div class="popup__inner">
      <form class="popup__form" action="" data-form="#form">
         <input class="input popup__name" type="text" placeholder="Name">
         <input class="input popup__phone" type="phone" placeholder="+00 0 1234 5678" maxlength="15">

         <button class="popup__btn btn">Call me back</button>

         <button class="popup__form-close" type='button' data-close="#close">
            <span class='popup__close-line first'></span>
            <span class='popup__close-line second'></span>
         </button>
      </form>
   </div>
</div>